.body__generic {
    color: #575757;
}

.line__generic {
    background-color: #F03A76;
}

.short-info_line__generic {
    background-color: #14B8E4;
}

.about-portfolio-line__generic {
    background-color: #683CB8;
}

.navbar__generic {
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.15);
}

.nav-logo__generic {
    color: #F03A76;
}


.switcher-select__generic {
    background-color: #2ec4b6;
    color: #cbf3f0;
}

.caret__generic {
    border-top: 6px solid #fff;
}

.switcher-select__generic:hover {
    background-color: #cbf3f0;
    color: #2ec4b6;
}

.switcher-menu__generic {
    background-color: #2ec4b6;
}

.active-theme__generic {
    background: #84dcc6;
}

.switcher-menu__generic li:hover {
    background-color: #84dcc6;
}

.switcher-select-clicked__generic {
    border: 2px #cbf3f0 solid;
}

.header__generic {
    background: linear-gradient(100.73deg, rgba(190, 238, 245, 0.5) 1.11%, rgba(189, 170, 225, 0.5) 33.86%, rgba(39, 163, 213, 0.5) 68.61%, rgba(247, 155, 185, 0.5) 97.83%);

}

.shadow-effect__generic {
    display: none;
}

.title__span__generic {
    color: #F03A76;
}

.info-title__generic {
    color: #575757;
}

.button__generic {
    background-color: #FF90B5;
    color: #fffcfc;
}

.button__generic:hover {
    background-color: #ffaadc;
    box-shadow: 0 0 5px #ffaadc,
              0 0 15px #ffaadc,
              0 0 30px #ffaadc,
              0 0 60px #ffaadc;
}

.main-article__text__generic {
    color: #575757;
}

.main__generic {
    background-color: #FFEBF1;
}

.main-article__text__generic {
    color: #575757;
}

.card__generic {
    background-color: #FFFFFF;
    box-shadow: 2px 11px 30px rgba(51, 51, 51, 0.08);
}

.about-team__generic {
    background-color: #FFEBF1;
}

.about-portfolio__generic {
    background-color: #FFEBF1;
}

.slider-arrow__generic {
    background-color: #F03A76;
}

.contact-us__generic {
    background-color: #FFEBF1;
}

.contact-us_form-input__generic {
    border: 1px solid #656565;
}

.footer__generic {
    background-color: #F03A76;
}

.footer__title__generic {
    color: #DEECF9;
}

.footer__copyright-text__generic {
    color: #FFFFFF;
}