@charset "UTF-8";
:root {
  --paragraph-l: 15px;
  --paragraph-s: 12px;
  --button: 17px;
  --paragraph-mobile-menu: 32px;
  --logo-title: 32px;
  --logo-subtitle: 13px;
  --h1: 44px;
  --h2: 35px;
  --h3: 20px;
  --h4: 15px;
}
@media screen and (max-width: 500px) {
  :root {
    --h1: 25px;
    --h2: 25px;
  }
}

* {
  margin: 0;
  padding: 0;
  font-size: 100%;
}

*, *::before, *::after {
  box-sizing: border-box;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
  font-weight: 400;
}

ol, ul {
  list-style: none;
}

button {
  background: transparent;
  cursor: pointer;
}

body {
  font-family: Georgia, serif;
  font-size: var(--paragraph-l);
  color: #545454;
}

.button {
  display: inline-block;
  padding: 15px 45px;
  border-radius: 100px;
  font-size: var(--button);
  color: #292929;
  line-height: 130%;
  letter-spacing: 1.02px;
}

@media (hover: hover) {
  .button:hover {
    background-color: #FDDCC4;
    border-color: #FDDCC4;
  }
}
h2 {
  font-size: var(--h2);
  color: #545454;
  line-height: 130%;
  letter-spacing: 2.1px;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
}
@media screen and (max-width: 992px) {
  .container {
    padding: 0 30px;
  }
}
@media screen and (max-width: 500px) {
  .container {
    padding: 0 10px;
  }
}

img {
  block-size: auto;
  object-fit: cover;
}

.main-contents {
  padding: 80px 0 100px 0;
}

header {
  padding-top: 30px;
  background: transparent;
  position: absolute;
  width: 100%;
}

.burger-menu {
  display: none;
}
@media screen and (max-width: 767px) {
  .burger-menu {
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: relative;
    z-index: 1000;
    transition: 0.4s transform;
  }
}

.burger-menu_active {
  transform: rotate(90deg);
}

.line {
  background-color: #F1CDB3;
  width: 30px;
  height: 2px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-title {
  font-size: var(--logo-title);
  color: #F1CDB3;
  line-height: 110%;
  letter-spacing: 1.92px;
  padding-bottom: 10px;
}

.logo-subtitle {
  font-size: var(--logo-subtitle);
  color: #fff;
  line-height: normal;
  letter-spacing: 1.3px;
}

.nav-list {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  gap: 35px;
  transition: 0.45s transform;
}
@media screen and (max-width: 767px) {
  .nav-list {
    gap: 40px;
    position: fixed;
    right: 0;
    top: 0;
    max-width: 320px;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 999;
    background-color: #292929;
    transform: translateX(100%);
  }
}

.nav-list_active {
  transform: translateX(0px);
}

.nav_blackout {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(41, 41, 41, 0.6);
}

.nav-item__text {
  font-size: var(--paragraph-l);
  color: #cdcdcd;
  line-height: 160%;
  letter-spacing: normal;
}
@media screen and (max-width: 767px) {
  .nav-item__text {
    font-size: --h2;
  }
}

.nav-item__text:hover {
  color: #fafafa;
  cursor: pointer;
}

.nav-item__text:active {
  color: #fafafa;
  border-bottom: 3px solid #F1CDB3;
}

.home {
  background: url(../../assets/images/start-screen.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
  padding-top: 180px;
}

.home-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 42px;
}
@media screen and (max-width: 992px) {
  .home-content {
    flex-direction: column;
    justify-content: center;
    gap: 100px;
  }
}

.home-content__main {
  max-width: 460px;
  display: flex;
  flex-direction: column;
  gap: 42px;
  align-items: flex-start;
}
@media screen and (max-width: 500px) {
  .home-content__main {
    align-items: center;
  }
}

.home-content__heading {
  font-size: var(--h1);
  color: #fff;
  line-height: 130%;
  letter-spacing: normal;
}
@media screen and (max-width: 500px) {
  .home-content__heading {
    text-align: center;
  }
}

.home-content__text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: var(--paragraph-l);
  color: #cdcdcd;
  line-height: 160%;
  letter-spacing: normal;
}
@media screen and (max-width: 500px) {
  .home-content__text {
    text-align: center;
  }
}

.home-content__button {
  background-color: #F1CDB3;
}
@media screen and (max-width: 992px) {
  .home-content__button {
    align-self: center;
  }
}

@media screen and (max-width: 1280px) {
  .home-img {
    max-width: 54.531vw;
  }
}
@media screen and (max-width: 992px) {
  .home-img {
    max-width: 70.363vw;
    align-self: flex-end;
  }
}

.about-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 120px;
}
@media screen and (max-width: 992px) {
  .about-content {
    flex-direction: column-reverse;
  }
}

.about-content__main {
  max-width: 430px;
}

@media screen and (max-width: 500px) {
  .about-content__heading {
    text-align: center;
  }
}

.about-content__subheading {
  margin-top: 25px;
  font-size: var(--paragraph-l);
  color: #4C4C4C;
  line-height: 160%;
  letter-spacing: normal;
}
@media screen and (max-width: 500px) {
  .about-content__subheading {
    text-align: justify;
  }
}

.pets {
  background-color: #f6f6f6;
}

.pets-content {
  display: flex;
  justify-content: normal;
  align-items: center;
  flex-direction: column;
  gap: 60px;
}

.pets-content__heading {
  text-align: center;
}

.pets-content__slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 500px) {
  .pets-content__slider {
    max-width: 270px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px 80px;
  }
}

.pets-cards {
  max-width: 990px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 90px;
  overflow: hidden;
}
@media screen and (max-width: 1280px) {
  .pets-cards {
    max-width: 77.344vw;
    gap: 7.031vw;
  }
}
@media screen and (max-width: 992px) {
  .pets-cards {
    max-width: 580px;
    gap: 40px;
  }
}
@media screen and (max-width: 767px) {
  .pets-cards {
    max-width: 75vw;
    gap: 5vw;
  }
}
@media screen and (max-width: 600px) {
  .pets-cards {
    max-width: 270px;
    gap: 0;
  }
}
@media screen and (max-width: 500px) {
  .pets-cards {
    order: 1;
  }
}

.pets-cards__card {
  flex-shrink: 0;
  max-width: 270px;
  width: 100%;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  background-color: #fafafa;
  border-radius: 9px;
}
@media screen and (max-width: 1280px) {
  .pets-cards__card {
    max-width: 21.094vw;
  }
}
@media screen and (max-width: 992px) {
  .pets-cards__card {
    max-width: 270px;
  }
}
@media screen and (max-width: 767px) {
  .pets-cards__card {
    max-width: 35vw;
  }
}
@media screen and (max-width: 600px) {
  .pets-cards__card {
    max-width: 270px;
  }
}

.pets-cards__card-title {
  font-size: var(--h3);
  color: #545454;
  line-height: normal;
  letter-spacing: 1.2px;
}

.pets-cards__card-button {
  border: 2px solid #F1CDB3;
}

.pets-content__slider {
  width: 100%;
}

.slider-arrows {
  padding: 23px 19px;
  border-radius: 100px;
  border: 2px solid #F1CDB3;
}

@media screen and (max-width: 500px) {
  .pets-slider__left-arrow {
    order: 2;
  }
}

.pets-slider__right-arrow {
  rotate: 180deg;
}
@media screen and (max-width: 500px) {
  .pets-slider__right-arrow {
    order: 3;
  }
}

.pets-content__link {
  background-color: #F1CDB3;
}

.help-content {
  display: flex;
  justify-content: normal;
  align-items: center;
  flex-direction: column;
  gap: 60px;
}

.help-content__heading {
  text-align: center;
}

.help-cards {
  max-width: 1026px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 60px;
}
@media screen and (max-width: 992px) {
  .help-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}
@media screen and (max-width: 767px) {
  .help-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 500px) {
  .help-cards {
    gap: 30px;
  }
}

.help-card {
  display: flex;
  justify-content: normal;
  align-items: center;
  width: 170px;
  flex-direction: column;
  gap: 30px;
}
@media screen and (max-width: 500px) {
  .help-card {
    width: 130px;
  }
}

.donation {
  background-color: #f6f6f6;
}

.donation-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
@media screen and (max-width: 992px) {
  .donation-content {
    flex-direction: column-reverse;
    gap: 60px;
  }
}

.donation-content__main {
  display: flex;
  justify-content: normal;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
}
@media screen and (max-width: 500px) {
  .donation-content__main {
    align-items: center;
  }
}

@media screen and (max-width: 500px) {
  .donation-content__heading {
    text-align: center;
  }
}

.donation-content__bank-info {
  font-size: var(--paragraph-l);
  color: #545454;
  line-height: 110%;
  letter-spacing: 0.9px;
}
@media screen and (max-width: 500px) {
  .donation-content__bank-info {
    line-height: 160%;
    letter-spacing: 0;
  }
}

.credit-card {
  padding: 10px 15px;
  display: flex;
  gap: 15px;
  background-color: #F1CDB3;
  border-radius: 9px;
}

.credit-card__number {
  font-size: var(--h3);
  color: #545454;
  line-height: 115%;
  letter-spacing: 1.2px;
}
@media screen and (max-width: 500px) {
  .credit-card__number {
    font-size: var(--h4);
  }
}

.donation-content__subheading {
  max-width: 380px;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-size: var(--paragraph-s);
  color: #B2B2B2;
  line-height: 18px;
  letter-spacing: normal;
}
@media screen and (max-width: 500px) {
  .donation-content__subheading {
    text-align: justify;
  }
}

footer {
  background: url(../../assets/images/start-screen.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}

.footer-content {
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
@media screen and (max-width: 992px) {
  .footer-content {
    gap: 60px;
    justify-content: center;
  }
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}
@media screen and (max-width: 500px) {
  .contact-info {
    align-items: center;
  }
}

.contact-info__title {
  max-width: 280px;
  font-size: var(--h2);
  color: #fff;
  line-height: 130%;
  letter-spacing: 2.1px;
}
@media screen and (max-width: 500px) {
  .contact-info__title {
    text-align: center;
  }
}

.contact-link {
  max-width: 302px;
  display: flex;
  justify-content: normal;
  align-items: center;
  gap: 20px;
}

.contact-link__text {
  font-size: var(--h3);
  color: #F1CDB3;
  line-height: 115%;
  letter-spacing: 1.2px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(41, 41, 41, 0.6);
  overflow: hidden;
}

.modal-window {
  position: relative;
  display: flex;
  background-color: #fefefe;
  margin: 12% auto;
  border-radius: 9px;
  max-width: 900px;
}

.modal-window__close-button {
  border: none;
  position: absolute;
  right: -50px;
  top: -40px;
}

.modal-image {
  height: 500px;
}

.modal-content {
  max-width: 350px;
  margin: 0 auto;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  color: #000;
}

.modal-title__heading {
  color: #000;
}

.modal-title__subheading {
  font-size: var(--h3);
  color: #000;
  line-height: 115%;
  letter-spacing: 1.2px;
  padding-top: 10px;
}

.modal-description {
  line-height: 110%;
  letter-spacing: 0.9px;
}

.modal-list li:not(:last-child) {
  padding-bottom: 10px;
}

.modal-list__item {
  display: flex;
  gap: 10px;
}

.modal-list__item:before {
  content: "•";
  font-weight: bold;
  color: #F1CDB3;
}

.modal-list__text {
  font-weight: bold;
  line-height: 110%;
  letter-spacing: 0.9px;
}

.modal-list__span {
  font-weight: normal;
}

/*# sourceMappingURL=main.css.map */
